*
    margin: 0
    padding: 0
    font-family: 'Open Sans', sans-serif
h2
    font-weight: 600
    color: #ffffff
    font-size: 40px
.header
    background: #000 url(/img/bg.png) no-repeat center top
    background-size: cover
    overflow: hidden
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    &__logo 
        margin-top: 110px
    &__title
        font-weight: 400
        color: #ffffff
        text-align: center
        text-transform: uppercase
        margin-top: 70px
        font-size: 49px
        & span
            font-weight: 600
.about
    background: #FFF
    padding-top: 170px
    padding-bottom: 110px
    display: flex
    justify-content: center
    &__container
        display: flex 
        width: 470px
        & img
        align-items: center
    &__text
        margin-left: 35px
        & h3
            font-size: 27px
            color: #000
            margin-bottom: 10px
        & p 
            font-size: 14px
            color:#4f4e4e
.info 
    background-color: #5fc18b
    position: relative
    &__block
        position: relative
        width: 650px
        display: block
        margin: 0 auto
    &__img 
        position: absolute
        top: 90px
        left: -100px
        z-index: 1
    &__tile 
        padding-top: 270px
        position: relative
        z-index: 2
        text-align: center

    &__paragraph 
        position: relative
        z-index: 2
        color:#fff
        font-weight: 400
        font-size: 14px
        line-height: 24px
        margin-top: 40px
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 460px
        bottom: -320px
        background: url(/img/bg-line.png) no-repeat center
        background-size: cover
.more
    position: relative
    top: 319px
    display: flex
    background-color: #44a36f
    overflow: hidden
    height: 500px
    &__img
        padding-top: 40px
        height: 505px
    &__block
        width: 520px
        margin-left: 58px

    &__title

    &__paragraph

    &__btn
        margin-top: 40px
        background: none
        padding: 10px 33px
        border: 3px solid #ffffff
        border-radius: 7px
        color: #ffffff
        font-weight: 600
        font-size: 27px
        &:hover
            background: #ffffff
            color: #44a36f
            box-shadow: 0 0 10px rgba(0,0,0,0.5)
.map
    margin-top: 320px
    height: 640px
    background: url(/img/map.png) no-repeat center top
    background-size: cover
    display: flex
    justify-content: center
    position: relative
.form-control
    position: absolute
    bottom: 40px
    background-color: rgba(255,255,255,0.85)
    height: 430px
    width: 430px
    border-radius: 430px
    display: flex
    flex-direction: column
    align-items: center
    box-shadow: 0 0 10px rgba(0,0,0,0.09)
.form
    &__input
        margin-bottom: 15px
        height: 33px
        width: 277px
        padding-left: 15px
        border: 1px solid #d8d8d8

    &__btn
        margin-top: 15px
        background: none
        border: none
        border-radius: 66px

.input-name
    margin-top: 110px
.input-mail

.input-text
    height: 80px

.copyright
    height: 50px
    background-color: #43a06d
    display: flex
    justify-content: center
    align-items: center
    &__title
        font-weight: 400
        font-size: 14px
        color: #fff

@media screen and ( max-width: 977px )
    .about
        flex-wrap: wrap
        &__container
            margin-bottom: 50px


@media screen and ( max-width: 850px )
    .more
        top: 220px
        &__block
            width: 350px
        &__img
            position: absolute
            right: 40px
    .map
        margin-top: 220px
@media screen and ( max-width: 685px )
    .info__block
        width: 400px
    .info__img 
        left: -220px
    .more
        &__block
            width: 250px






